.dropdown-item.boder-bottom
  = image_tag activity.subject.follower.avatar.url, class: 'rounded-circle mr-1', size: '30x30' 
  = link_to activity.subject.follower.name, user_path(activity.subject.follower)
  | があなたをフォローしました
