@import 'bootstrap-material-design/dist/css/bootstrap-material-design';
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'swiper/css/swiper';

main {
  padding-top: 50px;
}

.login-register-form {
  height:100vh;
  .login-register-form-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
  }
}
.post {
  max-width: 400px;
  margin: 0 auto;
  .card-img-top {
    width: 400px;
    height: 400px;
    object-fit: cover;
  }
}

.fa-lg {
  margin-left: 1rem;
}